@page 
@model SimpleShop.Web.Pages.Cart.IndexModel
@{
    ViewData["Title"] = "Koszyk";
}

<div class="container">
    @if (!Model.Cart.IsEmpty)
    {
        <div class="columns is-centered is-vcentered">
            <div class="column has-border">
                @foreach(var item in Model.Cart.Items)
                {
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-128x128">
                                <img src="~/assets/@item.Product.ImagePath">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p class="is-size-5 mb-0">@item.Product.Name</p>
                                <p class="mb-0">@(item.Product.Price * item.Quantity) zł</p>
                                <p class="mb-0">Rozmiar: @item.Size</p>
                                <div class="columns">
                                    <div class="column is-4 is-8-mobile">
                                        <div class="field has-addons">
                                            <form method="post" asp-page="/Cart/Index" asp-area="" asp-page-handler="UpdateItem">
                                                <p class="control">
                                                    <button class="button" type="submit" >-</button>
                                                    <input type="hidden" name="itemId" value="@item.Id" />
                                                    <input type="hidden" name="quantity" value="-1" />
                                                </p>
                                            </form>
                                            <p class="control">
                                                <input class="input" type="text" value="@item.Quantity" readonly style="text-align: center">
                                            </p>
                                            <form method="post" asp-page="/Cart/Index" asp-area="" asp-page-handler="UpdateItem">
                                                <p class="control">
                                                    <button class="button" type="submit">+</button>
                                                    <input type="hidden" name="itemId" value="@item.Id" />
                                                    <input type="hidden" name="quantity" value="1" />
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-right">
                            <form method="post" asp-page="/Cart/Index" asp-area="" asp-page-handler="DeleteItem">
                                <button class="delete" type="submit" name="itemId" value="@item.Id"></button>
                            </form>
                        </div>
                    </article>
                }
                <article class="media is-flex is-justify-content-space-between">
                    <div class="media-left">
                        <p class="mb-2">Dostawa:</p>
                        <p class="has-text-weight-medium">Suma:</p>
                    </div>
                    <div class="media-right">
                        <p class="has-text-success mb-2">DARMOWA</p>
                        <p class="has-text-weight-medium">@Model.Cart.GetTotal() zł</p>
                    </div>
                </article>
                <div class="field mt-2">
                    <div class="control is-flex is-justify-content-center">
                        <a class="button is-dark" asp-page="Checkout" asp-area="">Przejdź do kasy</a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="block has-text-centered">
            <span class="icon is-large">
                <i class='bx bx-cart bx-lg'></i>
            </span>
        </div>
        <div class="has-text-centered">
            <p class="has-text-weight-medium subtitle">Wygląda na to, że twój koszyk jest pusty!</p>
            <a class="button is-outlined" asp-area="" asp-page="/Index">Powrót do sklepu</a>
        </div>
    }
</div>
