@page "{id:Guid}"
@model SimpleShop.Web.Pages.Orders.DetailsModel
@{
}

<div class="container has-border p-5">
    <div class="block">
        <div class="columns is-vcentered">
            <div class="column has-text-centered-mobile">
                <h1 class="title">Order #@Model.Order.Number</h1>
            </div>
            <div class="column has-text-centered-mobile has-text-right-desktop">
                <button class="button is-success is-medium">Track</button>
            </div>
        </div>
        <div class="block">
            <p class="subtitle has-text-centered-mobile">Order date: @Model.Order.CreatedDate.ToString("MMMM dd, yyyy H:mm")</p>
        </div>
        @foreach(var item in Model.Order.Items)
        {
            <article class="media is-flex is-align-items-center">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <img src="~/assets/@item.Product.ImagePath">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p class="is-size-5 mb-0">@item.Product.Name</p>
                        <p class="mb-0 is-size-5 has-text-weight-bold">$@item.Product.Price</p>
                        <p class="mb-0 has-text-grey">Quantity: @item.Quantity</p>
                    </div>
                </div>
            </article>
        }
        <div class="columns">
            <div class="column is-6-desktop is-12-mobile">
                <div class="block mt-5">
                    <p class="subtitle">Delivery address</p>
                </div>
                <p class="mb-2 has-text-weight-medium is-size-5">@($"{Model.Order.Details.FirstName} {Model.Order.Details.LastName}")</p>
                <p>@($"{Model.Order.Details.Address} {Model.Order.Details.Apartment}")</p>
                <p>@($"{Model.Order.Details.PostalCode} {Model.Order.Details.City}")</p>
                <p>@Model.Order.Details.Phone</p>
            </div>
            <div class="column is-6-desktop is-12-mobile">
                <div class="block mt-5">
                    <p class="subtitle">Payment method</p>
                </div>
                <span class="icon is-large">
                    <i class='bx bxl-@Model.Order.Details.PaymentMethod bx-lg'></i>
                </span>
            </div>
        </div>
    </div>
</div>